/*----- CSS Reset -----*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*----- MAIN STYLING -----*/
body {
  width: 80%;
  max-width: 700px;
  margin: auto;
  background: #fdfdfd;
  color: #333;
}

/*----- TYPOGRAPHY  -----*/
h1, h2 {
  font-weight: normal;
  color: #110070;
  text-align: center;
}

h1 {
  font-size: 3.827em;
  margin-top: 2em;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 1.999em;
  margin: 3em 0 1em 0;
}

header h2 {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1.5em;
}

header p {
  font-size: 1.3em;
  text-align: center;
}

/*----- STYLING LINKS -----*/
a{
  color: #fdfdfd;
  text-decoration: none;
}
a:hover {
  color: #575CDB;
  border-bottom: 1px dotted;
}
/*----- NAVIGATION -----*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #110070;
  padding: 1em 0;
  font-size: 0.75em;
}

nav ul: {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px
}

nav ul li {
  display: inline;
  margin: 20px;
  background: none;
}

nav a:link {
  color: #fdfdfd;
}

nav a:hover {
  border-bottom: none;
  color: #82A2E0;
  transition: all 0.4s ease-in-out;
 }


/*----- FOOTER-----*/
footer {
  text-align: center;
  font-size: 0.707em;
  margin: 5em 0 8em 0;
}
